.options{
    display:flex;
    gap:12px;
    margin-bottom:20px;
}

.option{
    flex:1;
    padding:14px;
    border:none;
    border-radius:12px;
    background:#1d1d2f;
    color:white;
    font-size:16px;
    font-weight:bold;
    cursor:pointer;
    transition:.2s;
}

.option:hover{
    background:#6b00ff;
    transform:translateY(-2px);
}
